/* BUTTONS */

.topButtons{
   width: 90px;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 90%;
    background: #0000ff;
    color: #fff;
    float: right;   
    margin:  5px ;               
   
    font-family: Arial, Helvetica, sans-serif;

}

/* logo */
.logo-title{
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    color: #112fb4;
    text-decoration: none;
    margin-left: 10px;

}
.middleText{
    color: black;
    font-family: 'Marck Script', cursive;
    margin-left: 10px;
}
/*--------------*/

/*  signup model  */
.Signup_modal{
    position: fixed;
    display: none;
    z-index:1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    margin:-5px;
}
.signup_form{
    border: 2px solid black;
    padding: 15px 50px;
    background-color: #dddddd;
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 20%;
}
.signup_form hr{
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
}
.signup_form h1{
text-align: center;
}
.signup_form form input{
    width: 100%;
    height: 30px;
    margin-top: 2px;
    font-size: 15px;
    border: 2px solid #dddddd;
    color: #1b1717;
}
.signup_form form input:focus{
    border-bottom: 2px solid #4CAF50;

}

.signup_form form p{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 20px;
}
.signup_form form .sup_button{

    width: 100%;
    margin:30px 1%;
    justify-content: center;
    background-color: #4CAF50;
    height: 40px;
    color:white;
}
.signup_form form .sup_button:hover{
    border: 2px solid #4CAF50;
    background-color: #222831;
}
.signup_close{
    font-size: 50px;

    float: right;

}
.signup_close:hover{

    color: #4CAF50;


}

/*  signin model  */
.Signin_modal{
    position: fixed;
    display: none;
    z-index:1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    margin:-5px;
}
.signin_form{
    border: 2px solid black;
    padding: 15px 50px;
    background-color: #dddddd;
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 20%;
}
.signin_form hr{
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
}
.signin_form h1{
    text-align: center;
}
.signin_form form input{
    width: 100%;
    height: 30px;
    margin-top: 2px;
    font-size: 15px;
    border: 2px solid #dddddd;
    color: #1b1717;
}
.signin_form form input:focus{
    border-bottom: 2px solid #4CAF50;

}

.signin_form form p{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 20px;
}
.signin_form form .sin_button{

    width: 100%;
    margin:30px 1%;
    justify-content: center;
    background-color: #4CAF50;
    height: 30px;
    color:white;
}
.signin_form form .sin_button:hover{
    border: 2px solid #4CAF50;
    background-color: #222831;
}
.signin_form .Nan_member{
    text-align: center;

}
.signin_form .Nan_member span{
    color: #112fb4;
}
.signin_close{
    font-size: 50px;

    float: right;

}
.signin_close:hover{

    color: #4CAF50;


}


/* cyrillic */
@font-face {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.gstatic.com/s/marckscript/v8/nwpTtK2oNgBA3Or78gapdwuyzCg_WMM.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.gstatic.com/s/marckscript/v8/nwpTtK2oNgBA3Or78gapdwuyxig_WMM.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    src: local('Marck Script'), local('MarckScript-Regular'), url(https://fonts.gstatic.com/s/marckscript/v8/nwpTtK2oNgBA3Or78gapdwuyyCg_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v8/rP2Hp2yn6lkG50LoCZOIHQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}